*{
    padding: 0;
    box-sizing: border-box;
}

.selected{
    color: white;
    background-color: black;
}

.unselected{
    color: black;
}

#app{
    display: flex;
    flex-wrap: wrap;
}
#tree{
    width: 33%;
}
#pictureWidget{
    width: 33%;
}
#details{
    width: 33%;
}
